<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPxSocket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RPxSocket.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>127.0.01</value>
            </setting>
            <setting name="zpl" serializeAs="String">
                <value>^XA^CF0,30^FO10,10^FD{0}^FS^XZ</value>
            </setting>
            <setting name="data" serializeAs="String">
                <value>Tan Hung Ha</value>
            </setting>
        </RPxSocket.Properties.Settings>
    </userSettings>
</configuration>